
  {{#if admin}}
    {{>admin-header}}
    {{{body}}}
    {{#if login}}
      {{>admin-login-footer}}
    {{else}}
      {{>admin-footer}}
    {{/if}}
  {{else}}
    {{>user-header}}
    <body>
    {{{body}}}
    {{>user-footer}}
    </body>
  {{/if}}
