<!DOCTYPE html>
<html>
  <head>
    <title>{{company_data.name}}</title>
    {{#if admin}}
       {{>admin-header}}    
        {{{body}}}
        {{#if login}}
        {{>admin-footer}}
        {{else}}
        {{>admin-login-footer}}
        {{/if}}    
    {{/if}}
  </body>
</html>
    