<div class="contact">
			<div class="container">
				<h1>About</h1>
				
				<div class="contact-grids">
					<div>
						{{{user.storeData.contactpage}}}
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--//content-->