<div class="account">
    <div class="container">
        <h1>Account</h1>

        <div class="account_grid">
            <div class="col-md-6 login-right">
                <form action="login" id="login" method="POST">

                    <span>Mobile</span>
                    <input type="tel" name="mobile" id="mobile">

                    <span>Password</span>
                    <input type="password" name="password" id="password">
                    <div class="word-in">
                        <a class="forgot" href="#">Forgot Your Password?</a>
                        <input type="submit" value="Login">
                    </div>
                    <div id="login-message">
                        <span id="login-status" class="d-flex mt-5 align-self-center"></span>
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-left">
                <h4>NEW CUSTOMERS</h4>
                <p>By creating an account with our store, you will be able to move through the checkout process faster,
                    store multiple shipping addresses, view and track your orders in your account and more.</p>
                <a class="acount-btn" href="signup">Create an Account</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

